.home {
  	margin: 50px 75px 75px;
  	font-family: 'Arimo', sans-serif;
  	font-size: 25px;
  	font-weight: 400;
  	font-style: normal;
  	color: rgb(41, 41, 41);
}
.name {
	font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-weight: 400;
    font-style: normal;
    color: rgb(25, 65, 210);
    letter-spacing: 0.0181818em;
}
.job-title {
	margin-top: 10px;
	font-family: 'Arimo', sans-serif;
  	font-size: 25px;
  	font-weight: 400;
  	font-style: normal;
  	letter-spacing: 0.04em;
}

.header {
	margin-bottom: 35px;
}

.body {
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 0px;
}

.body-point {
	color: rgb(34, 34, 34);
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 10px
}

.link {
	font-weight:bold;
	color: rgb(25, 65, 210);
}

.page-divider {
	border-bottom-color:rgb(221, 221, 221);
	border-bottom-style:solid;
	border-bottom-width:1px;
	color:rgb(34, 34, 34);
	display:block;
}

.social-icons {
	margin-top: 30px;
	display:flex;
	justify-content: flex-end;
}

.icon {
	color: rgb(41, 41, 41);
	margin-left: 10px;
}